:root{

  --branco-principal: #FFFFFF;
  --cinza-secundario: #F9F9F9;
  --botao-azul: #167BF7;
  --cor-de-fundo: #00030C;
  --fonte-principal: 'inter';


  /* --fonte-tamanho-12: min(12px, 5vw);
  --fonte-tamanho-14: min(14px, 5vw);
  --fonte-tamanho-16: min(16px, 5vw);
  --fonte-tamanho-28: min(28px, 5vw);
  --fonte-tamanho-48: min(48px, 5vw); */

  --fonte-tamanho-12: max(12px, 1vw);
  --fonte-tamanho-14: max(14px, 1vw);
  --fonte-tamanho-16: max(16px, 1vw);
  --fonte-tamanho-28: max(28px, 1vw);
  --fonte-tamanho-48: max(48px, 1vw);
}

html{
  /* font-size: 62.5%; */
}

body{
  background-color: var(--cor-de-fundo);
  color: var(--branco-principal);
  
  font-family: var(--fonte-principal);
  /* font-size: 1.6rem; */
  /* font-size: var(--fonte-tamanho-16); */
  font-weight: 400;

 
}



*{
  margin: 0;
  padding: 0;
}

.principal{
  background-image: url(imagens/Background.svg);
  background-repeat: no-repeat;
  background-size: cover;

  align-items: center;
  text-align: center;

  
}

.container{
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;

}


.container-imagem{
 width: 60%;
 margin: 1em 0 2em 0;
}

.container-botao{
  background-color: var(--botao-azul);
  border-radius: 1rem;
  padding: 1rem;
  
  color: var(--branco-principal);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao-secundario{
  background-color: transparent;
  border: 0.2rem solid var(--branco-principal);
}

.container-aviso{
  /* font-size: 1.2rem; */
  font: var(--fonte-tamanho-12);
  color: var(--cinza-secundario);
}

.container-titulo{
  /* font-size: 2.8rem; */
  font-size: var(--fonte-tamanho-28);
  font-weight: 700;
}

.container-caixa{
  margin: 0em 6em;
}



/* CONTAINER SECUNDARIO */

.secundario{
  align-items: center;
  margin: 0 6em;
}

.container-imagem-secundaria{
  width: 80%;
  margin-left: 7rem;
 
}

.descricao-titulo{
/* font-size: 4.8rem; */
font-size: var(--fonte-tamanho-48);
font-weight: 700;
color: var(--branco-principal);
margin-bottom: 1rem;
margin-left: 5rem;
}


.descricao-paragrafo{
/* font-size: 1.6rem; */
font-size: var(--fonte-tamanho-16);
font-weight: 400;
color: var(--cinza-secundario);
margin-left: 5rem;
}



/* CONTAINER TERCIARIO */

 .container-botao{
  display: block;
}

.secundario .descricao-paragrafo{
  margin-bottom: 2rem;

}

.container-botao-terciario{
  display: inline-block;
  margin-left: 5rem;
}


.container-imagem-terciario{
  width: 80%;
  margin-left: 7rem;
}

/* CONTAINER DISPOSITIVOS */



.dispositivos-titulo{
  font-family: var(--fonte-principal);
  /* font-size: 5.5rem; */
  font-size: var(--fonte-tamanho-48);
  text-align: center;
  margin-bottom: 10rem;
}


.dispositivos-lista{
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 5rem;
}


.lista-item{
  text-align:  center;
  /* font-size: 2.2rem; */
  font-size: var(--fonte-tamanho-28);
}

/* FOOTER CONTAINER */

.footer-container{
  text-align: center;
  margin-top: 25rem;
}

.container-list{
  display: flex;
  justify-content: center;
}
.footer-list{
  margin-top: 3rem;
  display: flex;
  list-style: none;
  gap: 2rem;
 
}

.lista-itens{
  /* font-size: 1.6rem; */
  font-size: var(--fonte-tamanho-16);
  font-weight: 400;
  padding: auto;
}

.footer-paragrafo{
  margin-top: 3rem;
  padding: 0 6rem;
  color:var(--cinza-secundario);
  margin-bottom: 5rem;
}